// Place all the styles related to the ChordDiagrams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$susy: (
  columns: 12, /* we want our page to have 12 columns */
  gutters: 3/4, /* space between columns with be 3/4 of a column */
  math: fluid,
  output: float,
  gutter-position: inside,
);


$string-color: #d59352;
$fretboard-color: #333330;
$fretbar-color: #A57164;
$nut-color: #FBF3D3;
$shadow-color: #151515;
$text-color: white;
$background-color: #F5DeB3;

body{
  background: $background-color;
}

h2{
  color: $text-color;
}
.fretboard {

  background: $fretboard-color;
  width: 80%;
  border-radius: 20px;
  min-width: 50%;
  margin: 5em auto 2em;
  border: 3px solid darken($background-color, 60%);
  -webkit-box-shadow: -2px 0px 12px 2px rgba(194,163,107,1);
  -moz-box-shadow: -2px 0px 12px 2px rgba(194,163,107,1);
  box-shadow: -2px 0px 12px 2px rgba(194,163,107,1);
  input{
    display: none;
  }
}


.fret-row{
  float:left;
  color: $text-color;
  margin: 2px;
  border-radius: 10px;
  font-size: 18px;
  padding: 1px 0 5px 20px;
  .note{
    padding: 5px 6px 8px 0;
  }
}
.fret {
  display: inline-block;
  border-right: 2px solid orange;
  padding: 0 .2em;
}
.fret:hover {
  background-color: lighten($fretboard-color, 20%);
}
.fret[data-fret="0"] {
  border-right: 5px solid orange;
  background-color: $fretbar-color;
}

//refactor - add together
.fret.dot {
  margin-top: 3px;
  border-bottom: 2px dotted $text-color;

  // background-color: #eeeeee;
  }

.fret.two-dots {
  border-bottom: 2px dashed $text-color;

  // background-color: #dddddd;
}


label{
  border: 1px solid rgba(255,255,255, .2);
	height: 20px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
  width: 20px;
  display: inline-block;
  margin: .2em;
}
label:hover{
  border:1px solid orange;
}

:checked + label{
 background-color: orange;

}

#selected{
  display:none;
}

.user-sel-chord{
  .sel-button{
    background: white;
  }
}

.new-chord-form{
  text-align: center;

  .new-chord-form-button{
    background: darken($fretbar-color, 20%);
    border-radius: 10px;
    color: $text-color;
    font-size: 20px;
    letter-spacing: 2px;


  }
  .new-chord-form-button:hover{
    background: $fretbar-color;
    cursor: pointer;
  }
}

#chord_diagram_name{
  width: 250px;
  background: $fretboard-color;
  color: $text-color;
  height: 30px;
  font-size: 20px;
  text-align: center;
}

img{
  border: 3px solid $fretboard-color;
  border-radius: 5px;
}

#main-container{
  border: 4px solid $fretboard-color;
  border-radius: 10px;
  margin: 0 auto;
  width:80%;
  padding: 2em 0;
  padding-top: 5em;
  background: lighten($fretboard-color, 5%);
}

.edit-chord, .destroy-chord{
  display:none;
}
