// Place all the styles related to the ChordDiagrams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$susy: (
  columns: 12, /* we want our page to have 12 columns */
  gutters: 3/4, /* space between columns with be 3/4 of a column */
  math: fluid,
  output: float,
  gutter-position: inside,
);


$string-color: #d59352;
$fretboard-color: #333330;
$fretbar-color: #A57164;
$nut-color: #FBF3D3;
$shadow-color: #151515;
$text-color: white;

body{
  background: wheat;
}
.fretboard {
  margin-bottom: 10px;
  background: $fretboard-color;
  width: 60%;
  border-radius: 20px;
  min-width: 50%;
  input{
    display: none;
  }

}

.fret-row{
  float:left;
  color: $text-color;
  margin: 2px;
  border-radius: 10px;
  font-size: 18px;
  
  padding: 1px 0 5px 20px;
  .note{
    padding: 7px 6px 5px 0;
  }
}
.fret {
  display: inline-block;
  border-right: 2px solid orange;
  padding: 0 .2em;
}
.fret:hover {
  background-color: lighten($fretboard-color, 20%);
}
.fret[data-fret="0"] {
  border-right: 5px solid orange;
  background-color: $fretbar-color;
}
button {
  display: block;
}

.generate-chord-button{
  input{

  }
}

//refactor - add together
.fret.dot {
  margin-top: 3px;
  border-bottom: 2px dotted gray;
  // background-color: #eeeeee;
  }

.fret.two-dots {
  border-bottom: 2px dashed gray;
  // background-color: #dddddd;
}


label{
  border: 1px solid rgba(255,255,255, .2);
	height: 20px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
  width: 20px;
  display: inline-block;
  margin: .2em;
}

:checked + label{
 background-color: orange;

}

#selected{
  display:none;
}
